$color-bg-light: #fafafa;
$color-bg-medium: #e0e0e0;

$color-primary-light: #f6685e;
$color-primary-medium: #f44336;
$color-primary-dark: #aa2e25;

$color-text-light: #fbfbfb;
$color-text-dark: #3c3c3c;

$color-dark-1: #000;

$base-size: 12px;

$nav-height: 70px;
