@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  max-width: 1140px;
  margin: 0 auto;
}

.title {
  margin: 25px 0;
  font-size: 50px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-dark;
}
