@import '../../../styles/settings.scss';

.navigation {
  width: 100%;
  height: $nav-height;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to bottom, $color-primary-dark, $color-primary-medium, $color-primary-dark);

  > * {
    color: $color-text-light;
    line-height: $nav-height;
    text-decoration: none;
    text-transform: uppercase;
  }
}
